*{
    box-sizing: border-box;
    margin: 0;  
}


body{
   background-image:url(background.jpg);
   background-size: cover;
   background-attachment: fixed;
   font-family: "Montserrat", sans-serif;
   font-optical-sizing: auto;
   font-weight: 300;
   font-style: normal;
}

.container{
    background-color: rgb(0,0,0, 0.5);
    border-radius: 2%;
    width: 1200px; 
    height: 850px;
    margin: auto;
    margin-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

header>img{
    width: 230px;
    margin-left: 390px;
    margin-top: 70px;
}

header>h1{
    text-align: center;
    color: #66FF00;    
}

#menu{
    background-color:#66FF00;
    display:inline-block;
    width: 1000px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    margin-top: 5px;
}

main>input{
    margin-right: 5px;
    margin-left: 5px;
}

main>h2{
    display: inline-block;
    color: white;
    margin-top: 25px;
}

p{
   margin-top: 5px;
    color: white;
}
.freccia:before{
    content:"\21A6";
    color: white;
    margin-right: 5px;
}

main>div{
    padding: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 10px; 
}

#stato1{
    background-color: orange;
    width: 350px;
}

#stato2{
    background-color: #03C03C;
    width:700px;
}

#stato3{
    background-color: red;
    width: 150px;
}
